.mail{
    text-decoration: underline solid 1vh #141414;
    color: #141414;
}

.contact_container{
    display: grid;
    justify-items: center;
    align-items: center;
}

.bottom_sec{
    display: flex;
    flex-direction: row;
}

.pn_wrapper {
    padding: 1vh;
    margin: 2vh;
    margin-right: 10vh;
}
.adrs {
    padding: 1vh;
    margin: 2vh;
    margin-left: 10vh;
}
