.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section{
    display: grid;
    align-items: center;
    justify-items: center;
}

.box{
    padding: 2vh;
    background: #141414;
    color: white;
    margin: 1vh;
}

.title{
    text-decoration: underline;
}

.box{
    display: grid;
    align-items: center;
    justify-items: center;
}

.desc{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}