.mainnav{
    position: absolute;
    right: 1vh;
    top: 1vh;
}

.trigger{
    background-color: #141414;
    color: white;
    cursor: pointer;
    border: none;
    padding: 1vh;
    display: inline;
}
.trigger:hover{
    border-radius: 0%;
}
.trigger:focus-visible{
    border-radius: 0%;
}
.trigger:focus{
    border-radius: 0%;
}

.content{
    background-color: #141414;
    color: white;
    padding: 2vh;
    margin-top: 1vh;
}
.items{
    padding: 1.5vh;
    cursor: pointer;
    margin: 0.7vh;
}